* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

h2 {
    font-size: 36px;
}

header {
    box-shadow: -1px 1px 3px -1px rgba(8, 8, 8, 0.29);
    -webkit-box-shadow: -1px 1px 3px -1px rgba(8, 8, 8, 0.29);
    -moz-box-shadow: -1px 1px 3px -1px rgba(8, 8, 8, 0.29);
}

.purple {
    background-color: #60267F;
    text-align: center;
    padding: 10px 0;
    color: white;
    font-size: 14px;
    border: 1px;
}


.learnMore {
    text-decoration: underline;
    text-decoration-thickness: 0.5px;
}

.mainHeaderContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.mainHeaderContainer img {
    width: 150px;
}


.mainHeaderList * {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    text-decoration: none;
    font-weight: 500;
    color: #2B0236;
}

.mainHeaderContainer button {
    padding: 10px 15px;
    background-color: transparent;
    border: none;
    border: 1px solid #9A54BC;
    border-radius: 5px;
    color: #9A54BC;
    cursor: pointer;
}

.mainHeaderContainer button:hover {
    background-color: #9A54BC;
    color: white;
}

.topHeaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    margin-top: 70px;
    text-align: center;
}

.topHeaderContainer h1 {
    font-size: 45px;
    color: #2B0236;

}

.topHeaderContainer button {
    padding: 15px 30px;
    background-color: #9A54BC;
    border: none;
    border: 1.5px solid #9A54BC;
    border-radius: 7px;
    color: white;
    cursor: pointer;
}

.topHeaderContainer button:hover {
    background-color: white;
    color: #9A54BC;
}

.elipseContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 600px;

}

.absolute {
    position: absolute;
    top: 100px;
}

.bigEllipse {
    width: 500px;

}

.smallEllipse {
    top: 120px;
    width: 300px;
}

.phone {
    top: 130px;
    width: 150px;
}

.imageInElipse {
    top: 230px;
}

.btnInElipse {
    top: 470px;
    padding: 10px 15px;
    background-color: white;
    border: none;
    border: 2px solid #9A54BC;
    border-radius: 5px;
    color: #9A54BC;
    font-weight: 500;
    cursor: pointer;
}

.btnInElipse:hover {
    background-color: #9A54BC;
    color: white;
}

.topBrandsIconsContainer {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 70px;
}

.iconsContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
    height: 100px;
}


.iconsContainer img {
    width: 90px;
}

.howCollabHelpMainContainer {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.howHelpContainer {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    align-items: flex-start;
    margin-top: 8rem;
}

.paraContainer {
    width: 30rem;
    height: 25rem;


}

.howHelpBtnContainer {
    width: 100%;
    background-color: white;
    padding: 0.2rem;
    box-shadow: 0px 5px 7px 1px rgba(8, 8, 8, 0.15);
    -webkit-box-shadow: 0px 5px 7px 1px rgba(8, 8, 8, 0.15);
    -moz-box-shadow: 0px 5px 7px 1px rgba(8, 8, 8, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 5px;
}

.howHelpBtnContainer button {
    width: 50%;
    padding: 1rem;
    border: none;
    border: 2px solid white;
    background-color: transparent;
    font-weight: 500;
    cursor: pointer;
}

.howHelpBtnContainer button:hover {
    background-color: #60267F;
    color: white;
    border: solid 2px #9A54BC;
    border-radius: 5px;
}

.howHelpAllTextContainer {
    width: 96%;
    display: flex;
    gap: 0.5rem;
    margin: 2.5rem auto;
    flex-direction: column;
    height: 90%;
    font-size: 11.7px;

}

.howHelpAllTextContainer p {
    padding: 1.5rem 0.9rem;
    background-color: #F2F2F2;
}

.imgContainer img {
    width: 17rem;
    margin-left: 5rem;

}

.videoMainContainer {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    width: min-content;
    margin-left: 140px;
}

.videoMainContainer p {
    width: 50%;
    text-align: center;
}

.projectDoneContainer {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.projectDoneCardsContainer {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.card {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.card p span {
    margin-left: 20px;
    font-weight: 500;

}

.card img {
    width: 100%;
}

.card p {
    color: #60267F;
}

.bigCardsContainer {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bigCardsTopPara {
    color: #A79D9D;
    margin-top: 15px;
}

.monthlyYearContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    gap: 10px;
}

.monthly {
    color: #A79D9D;
}

.monthlyYearContainer img {
    width: 35px;
}

.yearly {
    font-weight: 500;
}

.discount {
    font-size: 12px;
    background-color: #FFE87A;
    padding: 3px 4px;
    border-radius: 5px;
}